<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- Links to src/main/resources/static/css/*.css -->
  <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>

<body>
    <h1>API Hub</h1>
    <nav class="navbar">
        <ul id="nav-list">
            <li th:each="navItem : ${navItems}">
                <a th:href="${navItem.path}" th:text="${navItem.title}"></a>
            </li>
        </ul>
    </nav>

    <!-- The button element with an explicit action type and ID for JavaScript targeting -->
    <button id="theme-toggle" type="button" aria-label="Toggle color theme">
        Toggle Theme
    </button>
    <!-- Links to src/main/resources/static/js/*.js -->
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
</body>

</html>
